<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="3fa62acd-57a3-44c3-bc73-3b10a332afbd" 
           Name="BCI" 
           Language="1049" 
           Version="1.0.0.0" 
           Manufacturer="BeeToo" 
           UpgradeCode="b43a9d41-584a-4fce-bdae-927fc878ce53">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of BCI is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="BCI" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcuts" />
    </Feature>
  
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" ></Property>
    <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="C:\beetoo\License.rtf"/>
    <WixVariable Id="WixUIDialogBmp" Value="C:\beetoo\Pt1.gif"/>
    <UIRef Id="WixUI_Minimal"/>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcuts" Guid="66768e13-8225-4c9a-bcf6-6b8511f86aaa">
        <Shortcut Id="ApplicationDesktopShortcut"
            Name="Node"
            Description="Comment field in your shortcut"
            Target="[INSTALLLOCATION]node.exe"
            WorkingDirectory="INSTALLLOCATION"/>
        <Shortcut Id="StartShortcut"
            Name="BeeToo"
            Description="Start node"
            Target="[INSTALLLOCATION]node.exe"
            WorkingDirectory="INSTALLLOCATION"/>
        <Shortcut Id="UninstallApplicationServer"
            Name="Uninstall application"
            Description="Uninstall application"
            Target="[System64Folder]msiexec.exe"
            Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" 
                       Key="Software\Microsoft\BCI" 
                       Name="installed" 
                       Type="integer" 
                       Value="1" 
                       KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
    
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop"></Directory>
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="BCI" />
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="BCI"/>
      </Directory>    
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
       <Component Id="node" Guid="b18f3113-8347-43ac-a43a-19182875c7b9">
          <File Id='node' DiskId='1' Source='C:\beetoo\node.exe'/>
       </Component>
       <Component Id="Test" Guid="b11556a2-e066-4393-af5c-9c9210187eb2">
          <File Id='Test' DiskId='1' Source='C:\beetoo\Test.js'/>
       </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
